<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="iTPDoroga.Settings.DorogaConnectionString" connectionString="Data Source=WIN2012R2HOME\ASUSQLH;Initial Catalog=Doroga;Persist Security Info=True;User ID=ReshelieMain;Password=Lolitazik13"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>